In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('age_income.csv')

In [5]:
print(df)

   age  income
0   25   49000
1   56  156000
2   65   99000
3   32  192000
4   41   39000
5   59   57000

In [7]:
df

   age  income
0   25   49000
1   56  156000
2   65   99000
3   32  192000
4   41   39000
5   59   57000

In [9]:
summary_stats = df.groupby('age')['income'].describe()

In [11]:
mean_income = df.groupby('age')['income'].mean()
median_income = df.groupby('age')['income'].median()
min_income = df.groupby('age')['income'].min()
max_income = df.groupby('age')['income'].max()
std_income = df.groupby('age')['income'].std()

In [13]:
print("Mean Income by Age Group:")
print(mean_income)

print("\nMedian Income by Age Group:")
print(median_income)

print("\nMinimum Income by Age Group:")
print(min_income)

print("\nMaximum Income by Age Group:")
print(max_income)

print("\nStandard Deviation of Income by Age Group:")
print(std_income)

Mean Income by Age Group:
age
25     49000.0
32    192000.0
41     39000.0
56    156000.0
59     57000.0
65     99000.0
Name: income, dtype: float64

Median Income by Age Group:
age
25     49000.0
32    192000.0
41     39000.0
56    156000.0
59     57000.0
65     99000.0
Name: income, dtype: float64

Minimum Income by Age Group:
age
25     49000
32    192000
41     39000
56    156000
59     57000
65     99000
Name: income, dtype: int64

Maximum Income by Age Group:
age
25     49000
32    192000
41     39000
56    156000
59     57000
65     99000
Name: income, dtype: int64

Standard Deviation of Income by Age Group:
age
25   NaN
32   NaN
41   NaN
56   NaN
59   NaN
65   NaN
Name: income, dtype: float64

In [15]:
income_by_age = df.groupby('age')['income'].apply(list)
print(income_by_age)

age
25     [49000]
32    [192000]
41     [39000]
56    [156000]
59     [57000]
65     [99000]
Name: income, dtype: object

In [28]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
column_names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
df = pd.read_csv(url, header=None, names=column_names)

In [30]:
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [32]:
setosa = df[df['species'] == 'Iris-setosa']
versicolor = df[df['species'] == 'Iris-versicolor']
virginica = df[df['species'] == 'Iris-virginica']

In [36]:
print("Iris-setosa statistics:")
print(setosa.describe())

print("\nIris-versicolor statistics:")
print(versicolor.describe())

print("\nIris-virginica statistics:")
print(virginica.describe())

Iris-setosa statistics:
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        5.00600     3.418000      1.464000      0.24400
std         0.35249     0.381024      0.173511      0.10721
min         4.30000     2.300000      1.000000      0.10000
25%         4.80000     3.125000      1.400000      0.20000
50%         5.00000     3.400000      1.500000      0.20000
75%         5.20000     3.675000      1.575000      0.30000
max         5.80000     4.400000      1.900000      0.60000

Iris-versicolor statistics:
       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

Iris-virginica statistics:
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000